nav {
    padding-bottom: 10em;
}

nav ul {
    list-style-type: none;
    display: flex;
    background-color: #77777777;
    box-shadow: 0 0 10px #77777777;
}

nav ul li a {
    display: block;
    color: var(--white-text-color);
    text-decoration: none;
    padding: 1em;
    text-transform: uppercase;
}

nav ul li:hover a {
    color: var(--white-text-color-hover);
}