<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="site-main">
        <header class="header">
            <div class="wrapper">
                <nav>
                    <ul>
                        {% for page in site.pages %}
                            {% if page.title %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="wrapper">
                <h2>Fitness</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, distinctio.</p>
                <div class="buttons">
                    <a class="btn-a" href="#">Get Started</a>
                    <a class="btn-b" href="#">Download</a>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="wrapper">
                <section>
                    <div class="about-section">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, neque obcaecati magni accusantium maxime exercitationem ut at praesentium expedita quos.</p>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
                </section>
                <section>
                    <div class="contacts-section">
                        <h2>Contacts Info</h2>
                        <div class="group-info">
                            <p>Address:</p>
                            <p>34 Street Name, City Name Here, United States</p>
                        </div>
                        <div class="group-info">
                            <p>Telephone:</p>
                            <p>+1 242 4942 290</p>
                        </div>
                        <div class="group-info">
                            <p>Email:</p>
                            <p>info@yourdomain.com</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="links-section">
                        <h2>Links</h2>
                        <ul>
                            {% for link in site.pages %}
                                {% if link.title %}
                                    <li><a href="{{ page.url }}">{{ link.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
            <p>&copy; Copyright 2019 All rights reserved</p>
        </footer>
    </div>
</body>
</html>